<?xml version="1.0"?>
<!--
* Created by PhpStorm.
* User: Anita
* Date: 15.9.2019.
* Time: 00:18
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mastering_Faq::faq"
             title="FAQs"
             module="Mastering_Faq"
             resource="Mastering_Faq::faq"
             action="faq/index/index"
             sortOrder="60"
             parent="Magento_Backend::content" />
        <add id="Mastering_Faq::faq_items"
             title="Manage FAQ Items"
             module="Mastering_Faq"
             resource="Mastering_Faq::faq_items"
             action="faq/items/index"
             sortOrder="60"
             parent="Mastering_Faq::faq" />
        <add id="Mastering_Faq::faq_categories"
             title="Manage FAQ categories"
             module="Mastering_Faq"
             resource="Mastering_Faq::faq_categories"
             action="faq/categories/index"
             sortOrder="60"
             parent="Mastering_Faq::faq" />
    </menu>
</config>
