<?xml version="1.0"?>
<!--
* Created by PhpStorm.
* User: Anita
* Date: 15.9.2019.
* Time: 00:18
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">


    <router id="admin">
        <route id="faq" frontName="faq">
            <module name="Mastering_Faq"/>
        </route>
    </router>
</config>